cachetools
contourpy
cycler
Cython
descartes
easydict
filelock
fire
fonttools
fsspec
Jinja2
joblib
kiwisolver
llvmlite
MarkupSafe
matplotlib
mpmath
networkx
numpy>=1.25.0,<2.0.0
nuscenes-devkit
opencv-python<=4.9.0.80
packaging
parameterized
pillow
progress
pycocotools
pyparsing
pyquaternion
python-dateutil
PyYAML
scikit-learn
scipy
setuptools
shapely
six
sympy
termcolor
threadpoolctl
torch
torchvision
tqdm
typing_extensions
